<% include partials/header %>

<div class="grid">

    <button class="get">Get Todos</button> <!-- load Todos -->

    <ul class="todos"></ul> <!-- this is populated by FetchAPI -->

    <form action="/api/todo" method="POST"> <!-- add new todo -->
        <input type="text" name="newTodo" class="input" required/>
        <br>
        <button type="submit" class="add">Add</button>
    </form>

</div> <!-- grid end -->

<script src="bundle.js"></script>

<% include partials/footer %>
